﻿
@{
    ViewBag.Title = "QueenOfSpades";
}

<h2>Пиковая дама</h2>

<div>
    <div class="rTableBig">
        <div class="rTableBody">
            <div class="rTableRow">
                <div class="rTableCellZero">
                    <div class="triangle-left">
                        <div class="field-zero">
                            0
                        </div>
                        <div class="zero-input">
                            <input class="inputfield black-color" type="number" name="inputID" id="input_0" onclick="input_onclick(this.id)" oninput="javascript: input_handle(this.id);" maxlength="6" min="0" placeholder="" disabled>
                        </div>
                    </div>
                </div>
                <div class="rTableCellBig">
                    <div class="rTable">
                        <div class="rTableBody">
                            <div class="rTableRow">
                                <div class="rTableCell redTableCell">
                                    <div class="fieldnumber">3</div>
                                    <div>
                                        <input class="inputfield" type="number" name="inputID" id="input_3" onclick="input_onclick(this.id)" oninput="javascript: input_handle(this.id);" maxlength="6" min="0" placeholder="" disabled>
                                    </div>
                                </div>
                                <div class="rTableCell">
                                    <div class="fieldnumber">6</div>
                                    <div>
                                        <input class="inputfield" type="number" name="inputID" id="input_6" onclick="input_onclick(this.id)" oninput="javascript: input_handle(this.id);" maxlength="6" min="0" placeholder="" disabled>
                                    </div>
                                </div>
                            </div>
                            <div class="rTableRow">
                                <div class="rTableCell">
                                    <div class="fieldnumber">2</div>
                                    <div>
                                        <input class="inputfield" type="number" name="inputID" id="input_2" onclick="input_onclick(this.id)" oninput="javascript: input_handle(this.id);" maxlength="6" min="0" placeholder="" disabled>
                                    </div>
                                </div>
                                <div class="rTableCell redTableCell">
                                    <div class="fieldnumber">5</div>
                                    <div>
                                        <input class="inputfield" type="number" name="inputID" id="input_5" onclick="input_onclick(this.id)" oninput="javascript: input_handle(this.id);" maxlength="6" min="0" placeholder="" disabled>
                                    </div>
                                </div>
                            </div>
                            <div class="rTableRow">
                                <div class="rTableCell redTableCell">
                                    <div class="fieldnumber">1</div>
                                    <div>
                                        <input class="inputfield" type="number" name="inputID" id="input_1" onclick="input_onclick(this.id)" oninput="javascript: input_handle(this.id);" maxlength="6" min="0" placeholder="" disabled>
                                    </div>
                                </div>
                                <div class="rTableCell blackTableCell">
                                    <div class="fieldnumber">4</div>
                                    <div>
                                        <input class="inputfield" type="number" name="inputID" id="input_4" onclick="input_onclick(this.id)" oninput="javascript: input_handle(this.id);" maxlength="6" min="0" placeholder="" disabled>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="rTableCellBig">
                    <div class="rTable">
                        <div class="rTableBody">
                            <div class="rTableRow">
                                <div class="rTableCell redTableCell">
                                    <div class="fieldnumber">9</div>
                                    <div>
                                        <input class="inputfield" type="number" name="inputID" id="input_9" onclick="input_onclick(this.id)" oninput="javascript: input_handle(this.id);" maxlength="6" min="0" placeholder="" disabled>
                                    </div>
                                </div>
                                <div class="rTableCell redTableCell">
                                    <div class="fieldnumber">12</div>
                                    <div>
                                        <input class="inputfield" type="number" name="inputID" id="input_12" onclick="input_onclick(this.id)" oninput="javascript: input_handle(this.id);" maxlength="6" min="0" placeholder="" disabled>
                                    </div>
                                </div>
                            </div>
                            <div class="rTableRow">
                                <div class="rTableCell">
                                    <div class="fieldnumber">8</div>
                                    <div>
                                        <input class="inputfield" type="number" name="inputID" id="input_8" onclick="input_onclick(this.id)" oninput="javascript: input_handle(this.id);" maxlength="6" min="0" placeholder="" disabled>
                                    </div>
                                </div>
                                <div class="rTableCell">
                                    <div class="fieldnumber">11</div>
                                    <div>
                                        <input class="inputfield" type="number" name="inputID" id="input_11" onclick="input_onclick(this.id)" oninput="javascript: input_handle(this.id);" maxlength="6" min="0" placeholder="" disabled>
                                    </div>
                                </div>
                            </div>
                            <div class="rTableRow">
                                <div class="rTableCell redTableCell">
                                    <div class="fieldnumber">7</div>
                                    <div>
                                        <input class="inputfield" type="number" name="inputID" id="input_7" onclick="input_onclick(this.id)" oninput="javascript: input_handle(this.id);" maxlength="6" min="0" placeholder="" disabled>
                                    </div>
                                </div>
                                <div class="rTableCell">
                                    <div class="fieldnumber">10</div>
                                    <div>
                                        <input class="inputfield" type="number" name="inputID" id="input_10" onclick="input_onclick(this.id)" oninput="javascript: input_handle(this.id);" maxlength="6" min="0" placeholder="" disabled>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="rTableCellBig">
                    <div class="rTable">
                        <div class="rTableBody">
                            <div class="rTableRow">
                                <div class="rTableCell">
                                    <div class="fieldnumber">15</div>
                                    <div>
                                        <input class="inputfield" type="number" name="inputID" id="input_15" onclick="input_onclick(this.id)" oninput="javascript: input_handle(this.id);" maxlength="6" min="0" placeholder="" disabled>
                                    </div>
                                </div>
                                <div class="rTableCell redTableCell">
                                    <div class="fieldnumber">18</div>
                                    <div>
                                        <input class="inputfield" type="number" name="inputID" id="input_18" onclick="input_onclick(this.id)" oninput="javascript: input_handle(this.id);" maxlength="6" min="0" placeholder="" disabled>
                                    </div>
                                </div>
                            </div>
                            <div class="rTableRow">
                                <div class="rTableCell redTableCell">
                                    <div class="fieldnumber">14</div>
                                    <div>
                                        <input class="inputfield" type="number" name="inputID" id="input_14" onclick="input_onclick(this.id)" oninput="javascript: input_handle(this.id);" maxlength="6" min="0" placeholder="" disabled>
                                    </div>
                                </div>
                                <div class="rTableCell">
                                    <div class="fieldnumber">17</div>
                                    <div>
                                        <input class="inputfield" type="number" name="inputID" id="input_17" onclick="input_onclick(this.id)" oninput="javascript: input_handle(this.id);" maxlength="6" min="0" placeholder="" disabled>
                                    </div>
                                </div>
                            </div>
                            <div class="rTableRow">
                                <div class="rTableCell">
                                    <div class="fieldnumber">13</div>
                                    <div>
                                        <input class="inputfield" type="number" name="inputID" id="input_13" onclick="input_onclick(this.id)" oninput="javascript: input_handle(this.id);" maxlength="6" min="0" placeholder="" disabled>
                                    </div>
                                </div>
                                <div class="rTableCell redTableCell">
                                    <div class="fieldnumber">16</div>
                                    <div>
                                        <input class="inputfield" type="number" name="inputID" id="input_16" onclick="input_onclick(this.id)" oninput="javascript: input_handle(this.id);" maxlength="6" min="0" placeholder="" disabled>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="rTableCellBig">
                    <div class="rTable">
                        <div class="rTableBody">
                            <div class="rTableRow">
                                <div class="rTableCell redTableCell">
                                    <div class="fieldnumber">21</div>
                                    <div>
                                        <input class="inputfield" type="number" name="inputID" id="input_21" onclick="input_onclick(this.id)" oninput="javascript: input_handle(this.id);" maxlength="6" min="0" placeholder="" disabled>
                                    </div>
                                </div>
                                <div class="rTableCell">
                                    <div class="fieldnumber">24</div>
                                    <div>
                                        <input class="inputfield" type="number" name="inputID" id="input_24" onclick="input_onclick(this.id)" oninput="javascript: input_handle(this.id);" maxlength="6" min="0" placeholder="" disabled>
                                    </div>
                                </div>
                            </div>
                            <div class="rTableRow">
                                <div class="rTableCell">
                                    <div class="fieldnumber">20</div>
                                    <div>
                                        <input class="inputfield" type="number" name="inputID" id="input_20" onclick="input_onclick(this.id)" oninput="javascript: input_handle(this.id);" maxlength="6" min="0" placeholder="" disabled>
                                    </div>
                                </div>
                                <div class="rTableCell redTableCell">
                                    <div class="fieldnumber">23</div>
                                    <div>
                                        <input class="inputfield" type="number" name="inputID" id="input_23" onclick="input_onclick(this.id)" oninput="javascript: input_handle(this.id);" maxlength="6" min="0" placeholder="" disabled>
                                    </div>
                                </div>
                            </div>
                            <div class="rTableRow">
                                <div class="rTableCell redTableCell">
                                    <div class="fieldnumber">19</div>
                                    <div>
                                        <input class="inputfield" type="number" name="inputID" id="input_19" onclick="input_onclick(this.id)" oninput="javascript: input_handle(this.id);" maxlength="6" min="0" placeholder="" disabled>
                                    </div>
                                </div>
                                <div class="rTableCell">
                                    <div class="fieldnumber">22</div>
                                    <div>
                                        <input class="inputfield" type="number" name="inputID" id="input_22" onclick="input_onclick(this.id)" oninput="javascript: input_handle(this.id);" maxlength="6" min="0" placeholder="" disabled>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="rTableCellBig">
                    <div class="rTable">
                        <div class="rTableBody">
                            <div class="rTableRow">
                                <div class="rTableCell redTableCell">
                                    <div class="fieldnumber">27</div>
                                    <div>
                                        <input class="inputfield" type="number" name="inputID" id="input_27" onclick="input_onclick(this.id)" oninput="javascript: input_handle(this.id);" maxlength="6" min="0" placeholder="" disabled>
                                    </div>
                                </div>
                                <div class="rTableCell redTableCell">
                                    <div class="fieldnumber">30</div>
                                    <div>
                                        <input class="inputfield" type="number" name="inputID" id="input_30" onclick="input_onclick(this.id)" oninput="javascript: input_handle(this.id);" maxlength="6" min="0" placeholder="" disabled>
                                    </div>
                                </div>
                            </div>
                            <div class="rTableRow">
                                <div class="rTableCell">
                                    <div class="fieldnumber">26</div>
                                    <div>
                                        <input class="inputfield" type="number" name="inputID" id="input_26" onclick="input_onclick(this.id)" oninput="javascript: input_handle(this.id);" maxlength="6" min="0" placeholder="" disabled>
                                    </div>
                                </div>
                                <div class="rTableCell">
                                    <div class="fieldnumber">29</div>
                                    <div>
                                        <input class="inputfield" type="number" name="inputID" id="input_29" onclick="input_onclick(this.id)" oninput="javascript: input_handle(this.id);" maxlength="6" min="0" placeholder="" disabled>
                                    </div>
                                </div>
                            </div>
                            <div class="rTableRow">
                                <div class="rTableCell redTableCell">
                                    <div class="fieldnumber">25</div>
                                    <div>
                                        <input class="inputfield" type="number" name="inputID" id="input_25" onclick="input_onclick(this.id)" oninput="javascript: input_handle(this.id);" maxlength="6" min="0" placeholder="" disabled>
                                    </div>
                                </div>
                                <div class="rTableCell">
                                    <div class="fieldnumber">28</div>
                                    <div>
                                        <input class="inputfield" type="number" name="inputID" id="input_28" onclick="input_onclick(this.id)" oninput="javascript: input_handle(this.id);" maxlength="6" min="0" placeholder="" disabled>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="rTableCellBig">
                    <div class="rTable">
                        <div class="rTableBody">
                            <div class="rTableRow">
                                <div class="rTableCell">
                                    <div class="fieldnumber">33</div>
                                    <div>
                                        <input class="inputfield" type="number" name="inputID" id="input_33" onclick="input_onclick(this.id)" oninput="javascript: input_handle(this.id);" maxlength="6" min="0" placeholder="" disabled>
                                    </div>
                                </div>
                                <div class="rTableCell redTableCell">
                                    <div class="fieldnumber">36</div>
                                    <div>
                                        <input class="inputfield" type="number" name="inputID" id="input_36" onclick="input_onclick(this.id)" oninput="javascript: input_handle(this.id);" maxlength="6" min="0" placeholder="" disabled>
                                    </div>
                                </div>
                            </div>
                            <div class="rTableRow">
                                <div class="rTableCell redTableCell">
                                    <div class="fieldnumber">32</div>
                                    <div>
                                        <input class="inputfield" type="number" name="inputID" id="input_32" onclick="input_onclick(this.id)" oninput="javascript: input_handle(this.id);" maxlength="6" min="0" placeholder="" disabled>
                                    </div>
                                </div>
                                <div class="rTableCell">
                                    <div class="fieldnumber">35</div>
                                    <div>
                                        <input class="inputfield" type="number" name="inputID" id="input_35" onclick="input_onclick(this.id)" oninput="javascript: input_handle(this.id);" maxlength="6" min="0" placeholder="" disabled>
                                    </div>
                                </div>
                            </div>
                            <div class="rTableRow">
                                <div class="rTableCell">
                                    <div class="fieldnumber">31</div>
                                    <div>
                                        <input class="inputfield" type="number" name="inputID" id="input_31" onclick="input_onclick(this.id)" oninput="javascript: input_handle(this.id);" maxlength="6" min="0" placeholder="" disabled>
                                    </div>
                                </div>
                                <div class="rTableCell redTableCell">
                                    <div class="fieldnumber">34</div>
                                    <div>
                                        <input class="inputfield" type="number" name="inputID" id="input_34" onclick="input_onclick(this.id)" oninput="javascript: input_handle(this.id);" maxlength="6" min="0" placeholder="" disabled>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div>
        <button onclick="buttom_function()" id="buttom_action">Начать розыгрыш</button>
    </div>
</div>

<!--
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    Launch demo modal
</button>
    -->
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>



<script>
    var PORT = "8787";
    var IP = "http://192.168.1.125";

    console.log(window.location.hostname);

    var myNodeList = document.getElementsByName('inputID');
    var trigger = 0;
    var xhr = new XMLHttpRequest();
    var status_xhr = new XMLHttpRequest();
    var url = IP + ":" + PORT + "/QueenOfSpades/SendData";
    var urlWinner = IP + ":" + PORT + "/QueenOfSpades/SendWinNumber";
    var urlStatus = IP + ":" + PORT + "/QueenOfSpades/SetStatus";
    var interval = 0;
    var show_page = "QueenOfSpadesShow";

    window.addEventListener("beforeunload", function (e) {
        send_status("0");
    }, false);

    for (var i = 0; i < myNodeList.length; i++) {
        var item = myNodeList[i].placeholder = 'ID';
    }
    var data = ["0"];
    for (var num = 0; num < 36; ++num) {
        data.push("0");
    }
    function input_onclick(id) {
        var myElement = document.getElementById(id);
        if (myElement.value != "") {
            var result = confirm("вы уверены, что хотите изменить данные?");
            if (result) {
                myElement.focus();
            }
        }
    }
    function input_handle(id)
    {
        var myElement = document.getElementById(id);
        
        if (myElement.value.length > myElement.maxLength) {
            myElement.value = myElement.value.slice(0, myElement.maxLength);
        }
    }

    function buttom_function() {


        if (trigger == 0) {

           // bootpopup.prompt("введите номер победителя", "number", "", "Победитель");
            

            send_status("1");

            var myNodeList = document.getElementsByName('inputID');
            for (var i = 0; i < myNodeList.length; i++) {
                myNodeList[i].disabled = false;
            }
            start_send_data();
            document.getElementById('buttom_action').innerText = "Закончить внесение данных";
            trigger = 1;
        }
        else if (trigger == 1) {
            if (confirm('Вы уверены, что хотите закончить вносить данные и определить победителя?')) {
                var myNodeList = document.getElementsByName('inputID');
                for (var i = 0; i < myNodeList.length; i++) {
                    myNodeList[i].disabled = true;
                }
                clearInterval(interval);
                document.getElementById('buttom_action').innerText = "Определить победителя";
                trigger = 2;
            } else {
                // Do nothing!
            }

        }
        else if (trigger == 2) {

            var winner = prompt("Внесите победивший номер (от 0 до 36)", "");
            if (winner == null || winner == "") {
                //do nothing
            } else {
                var num = Number(winner);
                console.log("!!!NUM" + num);
                if (isNaN(winner)) {
                    alert("Нужно внести номер от 0 до 36");
                }
                else if (num < 0 || num > 36) {
                    alert("Введеный номер должен быть от 0 до 36");
                }
                else {

                    var dataToSend = JSON.stringify({
                        "WinnerNumber": winner
                    });

                    xhr.open("POST", urlWinner, true);
                    xhr.setRequestHeader('Content-Type', 'application/json');
                    xhr.send(dataToSend);

                    send_status("2");


                    var myNodeList = document.getElementsByName('inputID');
                    for (var i = 0; i < myNodeList.length; i++) {
                        myNodeList[i].disabled = true;
                        myNodeList[i].value = '';
                        myNodeList[i].placeholder = 'ID';
                    }

                    document.getElementById('buttom_action').innerText = "Начать розыгрыш";
                    trigger = 3;
                }
            }
        }

        else if (trigger == 3) {
            var myNodeList = document.getElementsByName('inputID');

            send_status("0");

            for (var i = 0; i < myNodeList.length; i++) {
                myNodeList[i].disabled = true;
                myNodeList[i].value = '';
                myNodeList[i].placeholder = 'ID';
            }
            document.getElementById('buttom_action').innerText = "Начать розыгрыш";
            trigger = 0;
        }

    }



    function send_status(code) {
        var current_url = window.location.href;
        var url_to_show = current_url.substr(0, current_url.lastIndexOf("/") + 1) + show_page;
        console.log(url_to_show);
        var statusToSend = JSON.stringify({
            "status_code": code,
            "url_to_show": url_to_show,
            "translation_zone": ""
        });

        status_xhr.open("POST", urlStatus, true);
        status_xhr.setRequestHeader('Content-Type', 'application/json');
        status_xhr.send(statusToSend);
    }

    function start_send_data() {
        interval = setInterval(oneSecondFunction, 1000);
    }

    function oneSecondFunction() {
        var prefId = 'input_';
        for (var num = 0; num <= 36; ++num) {
            var strId = prefId + num;
            var val = document.getElementById(strId).value;
            data[num] = val;
        }
        var dataToSend = JSON.stringify({
            "bets": data
        });

        xhr.open("POST", url, true);
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.send(dataToSend);
        //xhr.abort();
        console.log(data);

    }

    //document.getElementsByName('inputID')[0].placeholder = 'ID';
            /*
        (async () => {
            const rawResponse = await fetch(url, {
                method: 'POST',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ bets: data })
            });
            const content = await rawResponse.json();

            console.log(content);
        })();
        */
            /*
        $.ajax({
            method: "POST",
            dataType: 'json',
            crossDomain: true,
            url: url,
            data: { name: data }
        })
*/
</script>
<script src="~/Scripts/bootpopup.js"></script>



