﻿
@{
    ViewBag.Title = "QueenOfSpades";
}

<link href="~/Content/queen_of_spades_show.css" rel="stylesheet">


<div>
    
</div>
<div class="contaiter_for_all">
    <div class="rTableBig">
        <div class="rTableBody">
            <div class="rTableRow">
                <div>
                    <div>
                        <div class="empt"></div>
                    </div>
                    <div class="rTableCellZero">
                        <div class="zero_container" id="coin_0">
                            <img src="~/Content/img/triangle.png" class="triangle" />
                            <div class="zero_sign">
                                0
                            </div>
                            <div class="coin_text_zero" id="output_0"></div>

                        </div>
                    </div>
                </div>
                <div>
                  
                    <div class="chip_container">
                        <div class="scene scene--card">
                            <div class="card" id="coin_1">
                                <div class="card__face card__face--front">
                                    <div>
                                        <img src="~/Content/img/coin1.png" class="coin_t" />
                                        <div class="coin_text_t" id="coin_text_1"></div>
                                    </div>
                                </div>

                                <div class="card__face card__face--back">
                                    <div>
                                        <img src="~/Content/img/coin1.png"  class="coin_t" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                        
                    <div class="polygon_container">
                        <img src="~/Content/img/polygon1.png" class="polygon" />
                    </div>
                    <div class="rTableCellBig">
                        <div class="rTable" id="rTable_1">
                            <div class="rTableBody">
                                <div class="rTableRow">
                                    <div class="rTableCell redTableCell">
                                        <div class="fieldnumber">3</div>
                                        <div class="cell-data-container">
                                            <div id="output_3" class="output-cell-data"></div>
                                        </div>
                                    </div>
                                    <div class="rTableCell">
                                        <div class="fieldnumber">6</div>
                                        <div class="cell-data-container">
                                            <div id="output_6" class="output-cell-data"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="rTableRow">
                                    <div class="rTableCell">
                                        <div class="fieldnumber">2</div>
                                        <div class="cell-data-container">
                                            <div id="output_2" class="output-cell-data"></div>
                                        </div>
                                    </div>
                                    <div class="rTableCell redTableCell">
                                        <div class="fieldnumber">5</div>
                                        <div class="cell-data-container">
                                            <div id="output_5" class="output-cell-data"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="rTableRow">
                                    <div class="rTableCell redTableCell">
                                        <div class="fieldnumber">1</div>
                                        <div class="cell-data-container">
                                            <div id="output_1" class="output-cell-data"></div>
                                        </div>
                                    </div>
                                    <div class="rTableCell blackTableCell">
                                        <div class="fieldnumber">4</div>
                                        <div class="cell-data-container">
                                            <div id="output_4" class="output-cell-data"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div>

                    <div class="chip_container">
                        <div class="scene scene--card">
                            <div class="card" id="coin_2">
                                <div class="card__face card__face--front">
                                    <div>
                                        <img src="~/Content/img/coin2.png" class="coin_t" />
                                        <div class="coin_text_t" id="coin_text_2"></div>
                                    </div>
                                </div>

                                <div class="card__face card__face--back">
                                    <div>
                                        <img src="~/Content/img/coin2.png"  class="coin_t" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="polygon_container">
                        <img src="~/Content/img/polygon2.png" class="polygon" />
                    </div>
                    <div class="rTableCellBig">
                        <div class="rTable" id="rTable_2">
                            <div class="rTableBody">
                                <div class="rTableRow">
                                    <div class="rTableCell redTableCell">
                                        <div class="fieldnumber">9</div>
                                        <div class="cell-data-container">
                                            <div id="output_9" class="output-cell-data"></div>
                                        </div>
                                    </div>
                                    <div class="rTableCell redTableCell">
                                        <div class="fieldnumber">12</div>
                                        <div class="cell-data-container">
                                            <div id="output_12" class="output-cell-data"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="rTableRow">
                                    <div class="rTableCell">
                                        <div class="fieldnumber">8</div>
                                        <div class="cell-data-container">
                                            <div id="output_8" class="output-cell-data"></div>
                                        </div>
                                    </div>
                                    <div class="rTableCell">
                                        <div class="fieldnumber">11</div>
                                        <div class="cell-data-container">
                                            <div id="output_11" class="output-cell-data"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="rTableRow">
                                    <div class="rTableCell redTableCell">
                                        <div class="fieldnumber">7</div>
                                        <div class="cell-data-container">
                                            <div id="output_7" class="output-cell-data"></div>
                                        </div>
                                    </div>
                                    <div class="rTableCell">
                                        <div class="fieldnumber">10</div>
                                        <div class="cell-data-container">
                                            <div id="output_10" class="output-cell-data"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div>


                    <div class="chip_container">
                        <div class="scene scene--card">
                            <div class="card" id="coin_3">
                                <div class="card__face card__face--front">
                                    <div>
                                        <img src="~/Content/img/coin3.png" class="coin_t" />
                                        <div class="coin_text_t" id="coin_text_3"></div>
                                    </div>
                                </div>

                                <div class="card__face card__face--back">
                                    <div>
                                        <img src="~/Content/img/coin3.png" class="coin_t" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>



                    <div class="polygon_container">
                        <img src="~/Content/img/polygon3.png" class="polygon" />
                    </div>
                    <div class="rTableCellBig">
                        <div class="rTable" id="rTable_3">
                            <div class="rTableBody">
                                <div class="rTableRow">
                                    <div class="rTableCell">
                                        <div class="fieldnumber">15</div>
                                        <div class="cell-data-container">
                                            <div id="output_15" class="output-cell-data"></div>
                                        </div>
                                    </div>
                                    <div class="rTableCell redTableCell">
                                        <div class="fieldnumber">18</div>
                                        <div class="cell-data-container">
                                            <div id="output_18" class="output-cell-data"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="rTableRow">
                                    <div class="rTableCell redTableCell">
                                        <div class="fieldnumber">14</div>
                                        <div class="cell-data-container">
                                            <div id="output_14" class="output-cell-data"></div>
                                        </div>
                                    </div>
                                    <div class="rTableCell">
                                        <div class="fieldnumber">17</div>
                                        <div class="cell-data-container">
                                            <div id="output_17" class="output-cell-data"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="rTableRow">
                                    <div class="rTableCell">
                                        <div class="fieldnumber">13</div>
                                        <div class="cell-data-container">
                                            <div id="output_13" class="output-cell-data"></div>
                                        </div>
                                    </div>
                                    <div class="rTableCell redTableCell">
                                        <div class="fieldnumber">16</div>
                                        <div class="cell-data-container">
                                            <div id="output_16" class="output-cell-data"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div>

                    <div class="chip_container">
                        <div class="scene scene--card">
                            <div class="card" id="coin_4">
                                <div class="card__face card__face--front">
                                    <div>
                                        <img src="~/Content/img/coin4.png" class="coin_t" />
                                        <div class="coin_text_t" id="coin_text_4"></div>
                                    </div>
                                </div>

                                <div class="card__face card__face--back">
                                    <div>
                                        <img src="~/Content/img/coin4.png" class="coin_t" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="polygon_container">
                        <img src="~/Content/img/polygon4.png" class="polygon" />
                    </div>
                    <div class="rTableCellBig">
                        <div class="rTable" id="rTable_4">
                            <div class="rTableBody">
                                <div class="rTableRow">
                                    <div class="rTableCell redTableCell">
                                        <div class="fieldnumber">21</div>
                                        <div class="cell-data-container">
                                            <div id="output_21" class="output-cell-data"></div>
                                        </div>
                                    </div>
                                    <div class="rTableCell">
                                        <div class="fieldnumber">24</div>
                                        <div class="cell-data-container">
                                            <div id="output_24" class="output-cell-data"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="rTableRow">
                                    <div class="rTableCell">
                                        <div class="fieldnumber">20</div>
                                        <div class="cell-data-container">
                                            <div id="output_20" class="output-cell-data"></div>
                                        </div>
                                    </div>
                                    <div class="rTableCell redTableCell">
                                        <div class="fieldnumber">23</div>
                                        <div class="cell-data-container">
                                            <div id="output_23" class="output-cell-data"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="rTableRow">
                                    <div class="rTableCell redTableCell">
                                        <div class="fieldnumber">19</div>
                                        <div class="cell-data-container">
                                            <div id="output_19" class="output-cell-data"></div>
                                        </div>
                                    </div>
                                    <div class="rTableCell">
                                        <div class="fieldnumber">22</div>
                                        <div class="cell-data-container">
                                            <div id="output_22" class="output-cell-data"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div>

                    <div class="chip_container">
                        <div class="scene scene--card">
                            <div class="card" id="coin_5">
                                <div class="card__face card__face--front">
                                    <div>
                                        <img src="~/Content/img/coin5.png" class="coin_t" />
                                        <div class="coin_text_t" id="coin_text_5"></div>
                                    </div>
                                </div>

                                <div class="card__face card__face--back">
                                    <div>
                                        <img src="~/Content/img/coin5.png" class="coin_t" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="polygon_container">
                        <img src="~/Content/img/polygon5.png" class="polygon" />
                    </div>
                    <div class="rTableCellBig">
                        <div class="rTable" id="rTable_5">
                            <div class="rTableBody">
                                <div class="rTableRow">
                                    <div class="rTableCell redTableCell">
                                        <div class="fieldnumber">27</div>
                                        <div class="cell-data-container">
                                            <div id="output_27" class="output-cell-data"></div>
                                        </div>
                                    </div>
                                    <div class="rTableCell redTableCell">
                                        <div class="fieldnumber">30</div>
                                        <div class="cell-data-container">
                                            <div id="output_30" class="output-cell-data"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="rTableRow">
                                    <div class="rTableCell">
                                        <div class="fieldnumber">26</div>
                                        <div class="cell-data-container">
                                            <div id="output_26" class="output-cell-data"></div>
                                        </div>
                                    </div>
                                    <div class="rTableCell">
                                        <div class="fieldnumber">29</div>
                                        <div class="cell-data-container">
                                            <div id="output_29" class="output-cell-data"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="rTableRow">
                                    <div class="rTableCell redTableCell">
                                        <div class="fieldnumber">25</div>
                                        <div class="cell-data-container">
                                            <div id="output_25" class="output-cell-data"></div>
                                        </div>
                                    </div>
                                    <div class="rTableCell">
                                        <div class="fieldnumber">28</div>
                                        <div class="cell-data-container">
                                            <div id="output_28" class="output-cell-data"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div>

                    <div class="chip_container">
                        <div class="scene scene--card">
                            <div class="card" id="coin_6">
                                <div class="card__face card__face--front">
                                    <div>
                                        <img src="~/Content/img/coin6.png" class="coin_t" />
                                        <div class="coin_text_t" id="coin_text_6"></div>
                                    </div>
                                </div>

                                <div class="card__face card__face--back">
                                    <div>
                                        <img src="~/Content/img/coin6.png" class="coin_t" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="polygon_container">
                        <img src="~/Content/img/polygon6.png" class="polygon" />
                    </div>
                    <div class="rTableCellBig">
                        <div class="rTable" id="rTable_6">
                            <div class="rTableBody">
                                <div class="rTableRow">
                                    <div class="rTableCell">
                                        <div class="fieldnumber">33</div>
                                        <div class="cell-data-container">
                                            <div id="output_33" class="output-cell-data"></div>
                                        </div>
                                    </div>
                                    <div class="rTableCell redTableCell">
                                        <div class="fieldnumber">36</div>
                                        <div class="cell-data-container">
                                            <div id="output_36" class="output-cell-data"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="rTableRow">
                                    <div class="rTableCell redTableCell">
                                        <div class="fieldnumber">32</div>
                                        <div class="cell-data-container">
                                            <div id="output_32" class="output-cell-data"></div>
                                        </div>
                                    </div>
                                    <div class="rTableCell">
                                        <div class="fieldnumber">35</div>
                                        <div class="cell-data-container">
                                            <div id="output_35" class="output-cell-data"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="rTableRow">
                                    <div class="rTableCell">
                                        <div class="fieldnumber">31</div>
                                        <div class="cell-data-container">
                                            <div id="output_31" class="output-cell-data"></div>
                                        </div>
                                    </div>
                                    <div class="rTableCell redTableCell">
                                        <div class="fieldnumber">34</div>
                                        <div class="cell-data-container">
                                            <div id="output_34" class="output-cell-data"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <img src="~/Content/img/name_of_the_game.png" class="name_game" />
    </div>


</div>

<script>
    var PORT = "8787";
    var IP = "http://192.168.1.125";


    var url = IP + ":" + PORT + "/QueenOfSpades/GetData";
    var urlStatus = IP + ":" + PORT + "/QueenOfSpades/GetStatus";
    var urlWinner = IP + ":" + PORT + "/QueenOfSpades/GetWinner";
    var was_shown = false;
    var was_cleared = false;
    var status_code_game = "0";
    var animation_time = 60000;
    setInterval(oneSecondFunction, 1000);
    function oneSecondFunction() {
        var status = get_status();
    }
    /*
    var card = document.querySelector('.card');
    card.addEventListener('click', function () {
        card.className('card').toggle('is-flipped');
        //card.classList.toggle('is-flipped');
    });
    */
    function status_handler(status) {
       // console.log(status);
        status_code_game = status;
        if (status == "0") {
            was_shown = false;
        }
        else if (status == "1") {
            if (!was_cleared) {
                clear_chips();
                was_cleared = true;
            }
            was_shown = false;
            get_bets();
        }
        else if (status == "2") {
            //console.log(was_shown);
            if (was_shown == false) {
               get_winner();
                was_shown = true;
            }

        }
    }

    function clear_chips() {
        for (var it = 1; it <= 6; ++it)
        {
            var text = document.getElementById("coin_text_" + it);
            text.innerHTML = "";
        }
    }

    function get_status() {
        var xhr = new XMLHttpRequest();
        xhr.open("Get", urlStatus, true);
        xhr.onreadystatechange = function () {
            if (xhr.readyState == 4) {
                if (xhr.status == 200) {
                    var data = xhr.responseText;
                    var jsonResponse = JSON.parse(data);
                    //console.log(jsonResponse.status_code.toString());
                    status_handler(jsonResponse.status_code.toString());
                }
            }
        };
        xhr.send(null);
    }

    function get_winner() {
        var xhr = new XMLHttpRequest();
        xhr.open("Get", urlWinner, true);
        xhr.onreadystatechange = function () {
            if (xhr.readyState == 4) {
                if (xhr.status == 200) {
                    var data = xhr.responseText;
                    var jsonResponse = JSON.parse(data);
                    console.log(jsonResponse);
                    show_winner(jsonResponse);
                }
            }
        };
        xhr.send(null);
    }


    function show_winner(winner_data) {
        console.log(winner_data);
        var number = winner_data.WinnerNumber;
        var id = winner_data.WinnerId;
        var num = Number(number);
        var timerId;
        if (num == 0) {
            var card = document.getElementById("coin_0");
            var text = document.getElementById("output_0");
            text.innerHTML = id;
            start_animation(card, true);

        }
        else {
            var id_group = 1 + (Math.floor((num - 1) / 6));
            console.log("coin_" + id_group);
            var card = document.getElementById("coin_" + id_group);
            var text = document.getElementById("coin_text_" + id_group);
            text.innerHTML = id;
            start_animation(card, false);
        }
    }

    function start_animation(card, is_zero) {
        timerId = setInterval(function () {
            setTimeout(function () {
                clearTimeout(timerId);
                if (is_zero) {
                    card.classList.remove("grow");
                }
                else {
                    card.classList.remove("is-flipped");
                }
            }, animation_time);
            if (status_code_game == "1") {
                clearTimeout(timerId);
                if (is_zero) {
                    card.classList.remove("grow");
                }
                else {
                    card.classList.remove("is-flipped");
                }
            }
            else {
                if (is_zero) {
                    card.classList.toggle('grow');
                }
                else {
                    card.classList.toggle('is-flipped');
                }
            }
        }, 1000);
    }
    

    function get_bets() {
        var xhr = new XMLHttpRequest();
        xhr.open("Get", url, true);
        xhr.onreadystatechange = function () {
            if (xhr.readyState == 4) {
                if (xhr.status == 200) {
                    var data = xhr.responseText;
                    var jsonResponse = JSON.parse(data);
                    console.log(jsonResponse);
                    var prefId = 'output_';
                    for (var num = 0; num <= 36; ++num) {
                        var strId = prefId + num;
                        var div = document.getElementById(strId);
                        div.innerHTML = jsonResponse.bets[num].toString();
                    }
                }
            }
        };
        xhr.send(null); 
    }

    

    /*
        var prefId = 'output_';
        for (var num = 0; num <= 36; ++num) {
            var strId = prefId + num;
            var val = document.getElementById(strId).value;
            data[num] = val;
        }
        */
    //document.getElementsByName('inputID')[0].placeholder = 'ID';
</script>
