﻿
@{
    Layout = "~/Views/Shared/_ZarOfHillLayout.cshtml";
}

<link href="~/Content/queen_of_spades_show.css" rel="stylesheet">
<link href="~/Content/ZarOfHill.css" rel="stylesheet">


<div>

</div>
<div class="contaiter_for_all">
    <div class="rTableBig">
        <div class="rTableBody">
            <div class="rTableRow">
                <div>
                    <div class="rTableCellZero">
                        <div class="zero_container" id="coin_0">
                            <img src="~/Content/img/triangle.png" class="triangle" />
                            <div class="zero_sign">
                                0
                            </div>
                            <div class="coin_text_zero" id="output_0"></div>

                        </div>
                    </div>
                </div>
                <div>


                    <div class="rTableCellBig">
                        <div class="rTable" id="rTable_1">
                            <div class="rTableBody">
                                <div class="rTableRow">
                                    <div class="rTableCell redTableCell">
                                        <div class="fieldnumber">3</div>
                                        <div class="cell-data-container">
                                            <div id="output_3" class="output-cell-data"></div>
                                        </div>
                                    </div>
                                    <div class="rTableCell">
                                        <div class="fieldnumber">6</div>
                                        <div class="cell-data-container">
                                            <div id="output_6" class="output-cell-data"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="rTableRow">
                                    <div class="rTableCell">
                                        <div class="fieldnumber">2</div>
                                        <div class="cell-data-container">
                                            <div id="output_2" class="output-cell-data"></div>
                                        </div>
                                    </div>
                                    <div class="rTableCell redTableCell">
                                        <div class="fieldnumber">5</div>
                                        <div class="cell-data-container">
                                            <div id="output_5" class="output-cell-data"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="rTableRow">
                                    <div class="rTableCell redTableCell">
                                        <div class="fieldnumber">1</div>
                                        <div class="cell-data-container">
                                            <div id="output_1" class="output-cell-data"></div>
                                        </div>
                                    </div>
                                    <div class="rTableCell blackTableCell">
                                        <div class="fieldnumber">4</div>
                                        <div class="cell-data-container">
                                            <div id="output_4" class="output-cell-data"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div>


                    <div class="rTableCellBig">
                        <div class="rTable" id="rTable_2">
                            <div class="rTableBody">
                                <div class="rTableRow">
                                    <div class="rTableCell redTableCell">
                                        <div class="fieldnumber">9</div>
                                        <div class="cell-data-container">
                                            <div id="output_9" class="output-cell-data"></div>
                                        </div>
                                    </div>
                                    <div class="rTableCell redTableCell">
                                        <div class="fieldnumber">12</div>
                                        <div class="cell-data-container">
                                            <div id="output_12" class="output-cell-data"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="rTableRow">
                                    <div class="rTableCell">
                                        <div class="fieldnumber">8</div>
                                        <div class="cell-data-container">
                                            <div id="output_8" class="output-cell-data"></div>
                                        </div>
                                    </div>
                                    <div class="rTableCell">
                                        <div class="fieldnumber">11</div>
                                        <div class="cell-data-container">
                                            <div id="output_11" class="output-cell-data"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="rTableRow">
                                    <div class="rTableCell redTableCell">
                                        <div class="fieldnumber">7</div>
                                        <div class="cell-data-container">
                                            <div id="output_7" class="output-cell-data"></div>
                                        </div>
                                    </div>
                                    <div class="rTableCell">
                                        <div class="fieldnumber">10</div>
                                        <div class="cell-data-container">
                                            <div id="output_10" class="output-cell-data"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div>


                    <div class="rTableCellBig">
                        <div class="rTable" id="rTable_3">
                            <div class="rTableBody">
                                <div class="rTableRow">
                                    <div class="rTableCell">
                                        <div class="fieldnumber">15</div>
                                        <div class="cell-data-container">
                                            <div id="output_15" class="output-cell-data"></div>
                                        </div>
                                    </div>
                                    <div class="rTableCell redTableCell">
                                        <div class="fieldnumber">18</div>
                                        <div class="cell-data-container">
                                            <div id="output_18" class="output-cell-data"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="rTableRow">
                                    <div class="rTableCell redTableCell">
                                        <div class="fieldnumber">14</div>
                                        <div class="cell-data-container">
                                            <div id="output_14" class="output-cell-data"></div>
                                        </div>
                                    </div>
                                    <div class="rTableCell">
                                        <div class="fieldnumber">17</div>
                                        <div class="cell-data-container">
                                            <div id="output_17" class="output-cell-data"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="rTableRow">
                                    <div class="rTableCell">
                                        <div class="fieldnumber">13</div>
                                        <div class="cell-data-container">
                                            <div id="output_13" class="output-cell-data"></div>
                                        </div>
                                    </div>
                                    <div class="rTableCell redTableCell">
                                        <div class="fieldnumber">16</div>
                                        <div class="cell-data-container">
                                            <div id="output_16" class="output-cell-data"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div>

                    <div class="rTableCellBig">
                        <div class="rTable" id="rTable_4">
                            <div class="rTableBody">
                                <div class="rTableRow">
                                    <div class="rTableCell redTableCell">
                                        <div class="fieldnumber">21</div>
                                        <div class="cell-data-container">
                                            <div id="output_21" class="output-cell-data"></div>
                                        </div>
                                    </div>
                                    <div class="rTableCell">
                                        <div class="fieldnumber">24</div>
                                        <div class="cell-data-container">
                                            <div id="output_24" class="output-cell-data"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="rTableRow">
                                    <div class="rTableCell">
                                        <div class="fieldnumber">20</div>
                                        <div class="cell-data-container">
                                            <div id="output_20" class="output-cell-data"></div>
                                        </div>
                                    </div>
                                    <div class="rTableCell redTableCell">
                                        <div class="fieldnumber">23</div>
                                        <div class="cell-data-container">
                                            <div id="output_23" class="output-cell-data"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="rTableRow">
                                    <div class="rTableCell redTableCell">
                                        <div class="fieldnumber">19</div>
                                        <div class="cell-data-container">
                                            <div id="output_19" class="output-cell-data"></div>
                                        </div>
                                    </div>
                                    <div class="rTableCell">
                                        <div class="fieldnumber">22</div>
                                        <div class="cell-data-container">
                                            <div id="output_22" class="output-cell-data"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div>

                    <div class="rTableCellBig">
                        <div class="rTable" id="rTable_5">
                            <div class="rTableBody">
                                <div class="rTableRow">
                                    <div class="rTableCell redTableCell">
                                        <div class="fieldnumber">27</div>
                                        <div class="cell-data-container">
                                            <div id="output_27" class="output-cell-data"></div>
                                        </div>
                                    </div>
                                    <div class="rTableCell redTableCell">
                                        <div class="fieldnumber">30</div>
                                        <div class="cell-data-container">
                                            <div id="output_30" class="output-cell-data"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="rTableRow">
                                    <div class="rTableCell">
                                        <div class="fieldnumber">26</div>
                                        <div class="cell-data-container">
                                            <div id="output_26" class="output-cell-data"></div>
                                        </div>
                                    </div>
                                    <div class="rTableCell">
                                        <div class="fieldnumber">29</div>
                                        <div class="cell-data-container">
                                            <div id="output_29" class="output-cell-data"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="rTableRow">
                                    <div class="rTableCell redTableCell">
                                        <div class="fieldnumber">25</div>
                                        <div class="cell-data-container">
                                            <div id="output_25" class="output-cell-data"></div>
                                        </div>
                                    </div>
                                    <div class="rTableCell">
                                        <div class="fieldnumber">28</div>
                                        <div class="cell-data-container">
                                            <div id="output_28" class="output-cell-data"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="rTableCellBig">
                        <div class="rTable" id="rTable_6">
                            <div class="rTableBody">
                                <div class="rTableRow">
                                    <div class="rTableCell">
                                        <div class="fieldnumber">33</div>
                                        <div class="cell-data-container">
                                            <div id="output_33" class="output-cell-data"></div>
                                        </div>
                                    </div>
                                    <div class="rTableCell redTableCell">
                                        <div class="fieldnumber">36</div>
                                        <div class="cell-data-container">
                                            <div id="output_36" class="output-cell-data"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="rTableRow">
                                    <div class="rTableCell redTableCell">
                                        <div class="fieldnumber">32</div>
                                        <div class="cell-data-container">
                                            <div id="output_32" class="output-cell-data"></div>
                                        </div>
                                    </div>
                                    <div class="rTableCell">
                                        <div class="fieldnumber">35</div>
                                        <div class="cell-data-container">
                                            <div id="output_35" class="output-cell-data"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="rTableRow">
                                    <div class="rTableCell">
                                        <div class="fieldnumber">31</div>
                                        <div class="cell-data-container">
                                            <div id="output_31" class="output-cell-data"></div>
                                        </div>
                                    </div>
                                    <div class="rTableCell redTableCell">
                                        <div class="fieldnumber">34</div>
                                        <div class="cell-data-container">
                                            <div id="output_34" class="output-cell-data"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div>
        <div class="TableResult">

            <div class="TableResultRow">
                <div class="TableResultCell">
                    <div class="TableResultText size_shifter" id="range_12">1-12</div>
                </div>
                <div class="TableResultCell">
                    <div class="TableResultText size_shifter" id="range_24">13-24</div>
                </div>
                <div class="TableResultCell">
                    <div class="TableResultText size_shifter" id="range_36">25-36</div>
                </div>
            </div>


            <div class="TableResultRow">

                <div class="TableResultCell SecondRow">
                    <div class ="size_shifter" id="range_18">
                    1-18
                    </div>
               </div>

                <div class="TableResultCell SecondRow size_shifter">
                    <div class="size_shifter" id="even_number" >ЧЁТ</div>

                </div>

                <div class="TableResultCell SecondRow">
                    
                    <img src="~/Content/RedRomb.png" id ="red_romb" class="romb  size_shifter" />
                </div>

                <div class="TableResultCell SecondRow">
                    <img src="~/Content/BlackRomb.png" id ="black_romb" class="romb size_shifter" />
                </div>

                <div class="TableResultCell SecondRow">
                    <div class="fieldnumber size_shifter" id="odd_number">НЕЧЁТ</div>
                </div>

                <div class="TableResultCell SecondRow " >
                    <div class="size_shifter" id="range_19">
                        19-36
                     </div>
                    </div>


                </div>

        </div>
    </div>
    <div>
        <img src="~/Content/ZapOfHillTitle.png" class="name_game" />
    </div>
</div>

<script>
    var PORT = "8787";
    var IP = "http://192.168.1.125";


    var url = IP + ":" + PORT + "/QueenOfSpades/GetData";
    var urlStatus = IP + ":" + PORT + "/QueenOfSpades/GetStatus";
    var urlWinner = IP + ":" + PORT + "/QueenOfSpades/GetWinner";
    var was_shown = false;
    var was_cleared = false;
    var status_code_game = "0";
    var animation_time = 60000;
    setInterval(oneSecondFunction, 1000);
    function oneSecondFunction() {
        var status = get_status();
    }
    /*
    var card = document.querySelector('.card');
    card.addEventListener('click', function () {
        card.className('card').toggle('is-flipped');
        //card.classList.toggle('is-flipped');
    });
    */
    function status_handler(status) {
        // console.log(status);
        status_code_game = status;
        if (status == "0") {
            was_shown = false;
        }
        else if (status == "1") {
            if (!was_cleared) {
                clear_chips();
                was_cleared = true;
            }
            was_shown = false;
            get_bets();
        }
        else if (status == "2") {
            //console.log(was_shown);
            if (was_shown == false) {
                get_winner();
                was_shown = true;
            }

        }
    }

    function clear_chips() {

    }

    function get_status() {
        var xhr = new XMLHttpRequest();
        xhr.open("Get", urlStatus, true);
        xhr.onreadystatechange = function () {
            if (xhr.readyState == 4) {
                if (xhr.status == 200) {
                    var data = xhr.responseText;
                    var jsonResponse = JSON.parse(data);
                    //console.log(jsonResponse.status_code.toString());
                    status_handler(jsonResponse.status_code.toString());
                }
            }
        };
        xhr.send(null);
    }

    function get_winner() {
        var xhr = new XMLHttpRequest();
        xhr.open("Get", urlWinner, true);
        xhr.onreadystatechange = function () {
            if (xhr.readyState == 4) {
                if (xhr.status == 200) {
                    var data = xhr.responseText;
                    var jsonResponse = JSON.parse(data);
                    console.log(jsonResponse);
                    show_winner(jsonResponse);
                }
            }
        };
        xhr.send(null);
    }


    function show_winner(winner_data) {
        var number = winner_data.WinnerNumber;
        var id = winner_data.WinnerId;
        var num = Number(number);
        console.log(num);
        if (num == 0) {
            var card = document.getElementById("coin_0");
            start_animation(card);

        }
        else {
            if (num % 2 == 0) {
                console.log("even");
                var card_e = document.getElementById("even_number");
                start_animation(card_e);
            }
            else {
                console.log("odd");
                var card_e = document.getElementById("odd_number");
                start_animation(card_e);
            }
            var card_first_row;
            if (num <= 12) {
                var card_first_row = document.getElementById("range_12");
                start_animation(card_first_row);
            }
            else if (num > 12 && num <= 24) {
                var card_first_row = document.getElementById("range_24");
                start_animation(card_first_row);
            }
            else if (num > 24 && num <= 36) {
                var card_first_row = document.getElementById("range_36");
                start_animation(card_first_row);
            }

            var card_second_row;
            if (num <= 18) {
                var card_second_row = document.getElementById("range_18");
                start_animation(card_second_row);
            }
            else if (num > 18 && num <= 36) {
                var card_second_row = document.getElementById("range_19");
                start_animation(card_second_row);
            }

            var num_color = num;
            if (num_color > 18) {
                num_color -= 18;
            }
            var card_romb;
            if ((num_color % 2 == 1 && num_color <= 9)
                || num_color % 2 == 0 && num_color >= 12) {
                card_romb = document.getElementById("red_romb");
                start_animation(card_romb);
            }
            else {
                card_romb = document.getElementById("black_romb");
                start_animation(card_romb);
            }
        }

    }

    function start_animation(card) {
        console.log("in start_animation!");
        var timerId = setInterval(function () {

            if (status_code_game == "1") {
                clearInterval(timerId);
                card.classList.remove("grow");               
            }
            else {
                card.classList.toggle('grow');
            }
        }, 1000);

        console.log("timerID " + timerId + " for " + card.id);
        setTimeout(function () {
            clearInterval(timerId);
            card.classList.remove("grow");
            console.log("card in time out " + card.id);
        }, animation_time);
    }


    function get_bets() {
        var xhr = new XMLHttpRequest();
        xhr.open("Get", url, true);
        xhr.onreadystatechange = function () {
            if (xhr.readyState == 4) {
                if (xhr.status == 200) {
                    var data = xhr.responseText;
                    var jsonResponse = JSON.parse(data);
                    console.log(jsonResponse);
                    var prefId = 'output_';
                    for (var num = 0; num <= 36; ++num) {
                        var strId = prefId + num;
                        var div = document.getElementById(strId);
                        div.innerHTML = jsonResponse.bets[num].toString();
                    }
                }
            }
        };
        xhr.send(null);
    }



    /*
        var prefId = 'output_';
        for (var num = 0; num <= 36; ++num) {
            var strId = prefId + num;
            var val = document.getElementById(strId).value;
            data[num] = val;
        }
        */
    //document.getElementsByName('inputID')[0].placeholder = 'ID';
</script>

