﻿.rTable {
    display: table;
    width: 100%;
    border: 5px solid #999999;
}

.rTableBig {
    display: table;
    width: 100%;
}

.rTableRow {
    display: table-row;
}

.rTableHeading {
    display: table-header-group;
}

.rTableBody {
    display: table-row-group;
}

.rTableFoot {
    display: table-footer-group;
}

.rTableCell, .rTableHead {
    vertical-align: text-top;
    text-align: center;
    font-size: 32px;
    color: white;
    display: table-cell;
    height: 80px;
    width: 60px;
    background-color: black;
    border: 3px solid #999999;
    border-color: white;
}

.rTableCellBig {
    color: white;
    display: table-cell;
    height: 200px;
    width: 150px;
    padding-right: 10px;
}


.rTableCellZero {
    text-align: center;
    position: relative;
    right: 0;
    vertical-align: middle;
    font-size: 32px;
    color: black;
    display: table-cell;
    height: 200px;
    width: 70px;
    background-color: white;
}
.redTableCell {
    background-color: red !important;
}
     .blackTableCell {
        background-color: black;
    }
.inputfield {
    margin-top: -5px;
    padding-top: 0px;
    padding-bottom: 0px;
    background: transparent;
    border: none;
    margin: 0;
    font-size: 14px !important;
    color: #ffffff;
}
.fieldnumber {
    margin-bottom: -10px;
    background: transparent;
}

.triangle-left {
    right: -0.001em;
    top: -0.01em;
    position: absolute;
    width: 0;
    height: 0;
    border-top: 135px solid transparent;
    border-right: 70px solid wheat;
    border-bottom: 135px solid transparent;
}
.field-zero {
    position: relative;
    top: -30px;
    left: 25px;
    color: black;
}
.zero-input {
    position: relative;
    top: -50px;
    left: 15px;
    color: black !important;
}

.black-color {
    color: black;
}


