﻿
.coin {
    position: relative;
    width: 100px;
    height: 100px;
    left: 18px;
    top: 0px;
    bottom: 40px;
}

.polygon {
    position: relative;
    width: 140px;
    height: 100px;
    left: 0px;
    z-index: -1;
}

.polygon_container {
    position: relative;
    width: 140px;
    height: 100px;
    left: 0px;
    margin-top: -65px;
}

.empt {
    position: relative;
    width: 70px;
    height: 138px;
    left: 0px;
    top: 0px;
   
}

.name_game {
    position: relative;
    width: 559px;
    height: 65px;
    bottom: 0;
    top: 40px;
    left: 420px;
}
#rTable_1 {
    
    outline: 10px solid #4A2C84;
    outline-offset: -10px;
}
#rTable_2 {
    outline: 10px solid #FAB301;
    outline-offset: -10px;
}
#rTable_3 {
    outline: 10px solid #8AB817;
    outline-offset: -10px;
}
#rTable_4 {
    outline: 10px solid #E64415;
    outline-offset: -10px;
}
#rTable_5 {
    outline: 10px solid #006EB6;
    outline-offset: -10px;
}
#rTable_6 {
    outline: 10px solid #5B5E63;
    outline-offset: -10px;
}


.coin_text {
    position: relative;
    z-index: 100;
    top: -60px;
    left: 50px;
    position: relative;
    color: white;
}

.chip_container {
    position: relative;
    left: 15px;
}

.scene {
    width: 100px;
    height: 100px;
    perspective: 600px;
}

.card {
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
}

    .card.is-flipped {
        transform: rotateY(180deg);
    }



.card__face {
    position: absolute;
    width: 100%;
    height: 100%;
    line-height: -100px;
    color: white;
    text-align: center;
    font-weight: bold;   
    backface-visibility: hidden;
}

.card__face--front {
}

.card__face--back {
    transform: rotateY(180deg);
}

.coin_t {
    position: relative;
    width: 100px;
    height: 100px;
}

.coin_text_t {
    position: relative;
    top: -60px;
    left: 0px;
    position: relative;
    color: white;
}

.coin_text_zero {
    position: relative;
    top: -170px;
    left: 10px;
    position: relative;
    font-size: 15px;
    color: black;
}

    .triangle {
        z-index: -1;
        top: -20px;
        width: 73px; /* you can use % */
        height: auto;
        }

.zero_sign {
    position: relative;
    top: -170px;
    color: black;
}

.zero_container.grow {
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
}

.contaiter_for_all {

  align-items: center;
  justify-content: center;
}

body {
    background-size: cover; /* <------ */
    background-repeat: no-repeat;
}

html, body {
    margin: 0;
    height: 100%;
    width: 100%;
}

/*
    top: 20%;
    left: 20%;
    position: fixed;

*/