﻿.TableResult {
    color: white;
    display: block;
    width: 962px;
    border: 5px solid white;
}

.TableResultRow {
    display: flex;
}
.TableResultCell {
    vertical-align: text-top;
    text-align: center;
    font-size: 32px;
    color: white;
    display: block;
    width: 33.33%;
    height: 10vh;
    background-color: cornflowerblue;
    border: 3px solid white;
    border-color: white;
}

.SecondRow {
    width: 16.66% !important;
    height: 10vh;
}
.TableResultText {
    height: 10vh;
}

.romb {
    max-width: 100%;
    max-height: 100%;
}

.size_shifter.grow {
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
}

